= render "shared/header"
.profile-new
  .main-profile
    .main-profile__head 本人情報の登録
    .main-profile__form
      .main-profile__form__text
        .main-profile__form__text__left お客さまの本人情報をご登録ください。登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        .main-profile__form__text__right
          %span 本人確認書類のアップロードについて
          = fa_icon('chevron-right')
      .main-profile__form__group
        .wrap
          .main-profile__form__group__title お名前
          .main-profile__form__group__require.inputs__product__caution 必須
        %input.default{type: 'text',placeholder: '例）北川'}
        %input.default{type: 'text',placeholder: '例）景子'}
      .main-profile__form__group
        .wrap
          .main-profile__form__group__title お名前カナ
          .main-profile__form__group__require.inputs__product__caution 必須
        %input.default{type: 'text',placeholder: '例）キタガワ'}
        %input.default{type: 'text',placeholder: '例）ケイコ'}
      .main-profile__form__group
        .wrap
          .icon-1
            = fa_icon('chevron-down')
          .icon-2
            = fa_icon('chevron-down')
          .icon-3
            = fa_icon('chevron-down')
          .main-profile__form__group__title 生年月日
          .main-profile__form__group__require.inputs__product__caution 必須
        = form_with local: true do |f|
          = raw sprintf(f.date_select( :birth_date,{start_year: 1930,prompt: '--', default: ('--'),end_year: (Time.now.year),use_month_numbers: true ,date_separator: '%s'},{class: "birth"}),'年 ','月 ') + '日'
        / .main-profile__form__group__select
        /   .main-profile__form__group__select__left
        /   %span 年
        / .main-profile__form__group__select
        /   .main-profile__form__group__select__left
        /   %span 月
        / .main-profile__form__group__select
        /   .main-profile__form__group__select__left
        /   %span 日
        .main-profile__form__group__info 出品されたことがある、本人情報未登録のお客さまもご対象となります。
      .main-profile__form__group
        .wrap
          .main-profile__form__group__title 郵便番号
          .main-profile__form__group__optional 任意
        %input.default{type: 'text',placeholder: '例）1234567'}
      .main-profile__form__group
        .wrap
          .icon-4
            = fa_icon('chevron-down')
          .main-profile__form__group__title 都道府県
          .main-profile__form__group__optional 任意
        %form{:action => "samplel.cgi", :method => "post"}
          %br/
          %select{name: "prefecture"}
            %option{selected: "selected", value: ""} --
            %option{value: "北海道"} 北海道
            %option{value: "青森県"} 青森県
            %option{value: "岩手県"} 岩手県
            %option{value: "宮城県"} 宮城県
            %option{value: "秋田県"} 秋田県
            %option{value: "山形県"} 山形県
            %option{value: "福島県"} 福島県
            %option{value: "茨城県"} 茨城県
            %option{value: "栃木県"} 栃木県
            %option{value: "群馬県"} 群馬県
            %option{value: "埼玉県"} 埼玉県
            %option{value: "千葉県"} 千葉県
            %option{value: "東京都"} 東京都
            %option{value: "神奈川県"} 神奈川県
            %option{value: "新潟県"} 新潟県
            %option{value: "富山県"} 富山県
            %option{value: "石川県"} 石川県
            %option{value: "福井県"} 福井県
            %option{value: "山梨県"} 山梨県
            %option{value: "長野県"} 長野県
            %option{value: "岐阜県"} 岐阜県
            %option{value: "静岡県"} 静岡県
            %option{value: "愛知県"} 愛知県
            %option{value: "三重県"} 三重県
            %option{value: "滋賀県"} 滋賀県
            %option{value: "京都府"} 京都府
            %option{value: "大阪府"} 大阪府
            %option{value: "兵庫県"} 兵庫県
            %option{value: "奈良県"} 奈良県
            %option{value: "和歌山県"} 和歌山県
            %option{value: "鳥取県"} 鳥取県
            %option{value: "島根県"} 島根県
            %option{value: "岡山県"} 岡山県
            %option{value: "広島県"} 広島県
            %option{value: "山口県"} 山口県
            %option{value: "徳島県"} 徳島県
            %option{value: "香川県"} 香川県
            %option{value: "愛媛県"} 愛媛県
            %option{value: "高知県"} 高知県
            %option{value: "福岡県"} 福岡県
            %option{value: "佐賀県"} 佐賀県
            %option{value: "長崎県"} 長崎県
            %option{value: "熊本県"} 熊本県
            %option{value: "大分県"} 大分県
            %option{value: "宮崎県"} 宮崎県
            %option{value: "鹿児島県"} 鹿児島県
            %option{value: "沖縄県"} 沖縄県

        / .main-profile__form__group__select-house
      .main-profile__form__group
        .wrap
          .main-profile__form__group__title 市町村
          .main-profile__form__group__optional 任意
        %input.default{type: 'text',placeholder: '例）大阪市中央区'}
      .main-profile__form__group
        .wrap
          .main-profile__form__group__title 番地
          .main-profile__form__group__optional 任意
        %input.default{type: 'text',placeholder: '例）心斎橋1-1-1'}
      .main-profile__form__group
        .wrap
          .main-profile__form__group__title 建物名
          .main-profile__form__group__optional 任意
        %input.default{type: 'text',placeholder: '例）ビル'}
      .main-profile__form__btn
        = link_to '登録する','/profiles/new',class: 'btn-link'
      .main-profile__form__info
        %span 本人情報の登録について
        = fa_icon('chevron-right')

