.background
  = render './shared/products-new-header'
  .inputs.sign-up-header-wrap
    .sign-up-header 会員情報入力
  .inputs
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field.sign-up-field
        .sign-up-label
          = f.label 'ニックネーム'
          .inputs-detail__caution.sign-up-label__caution 必須
        = f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"例)メルカリ太郎",class: 'inputs__form sign-up__inputs__form'
      .field.sign-up-field
        .sign-up-label
          = f.label 'パスワード'
          .inputs-detail__caution.sign-up-label__caution 必須
        = f.password_field :password, autocomplete: "new-password",placeholder:"#{@minimum_password_length}文字以上",class: 'inputs__form sign-up__inputs__form'
      .field.sign-up-field
        .sign-up-label
          = f.label 'パスワード(確認)'
          .inputs-detail__caution.sign-up-label__caution 必須
        = f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"#{@minimum_password_length}文字以上",class: 'inputs__form sign-up__inputs__form'
      .actions
        = f.submit "登録する",class:'login-btn-session'
    -# = render "devise/shared/links"
  =render './shared/products-new-footer'
