.full-container
  = render partial: "shared/header"
  %main
    .mypage
      = render partial: "shared/sidebar"
      .mypage__container
      = form_with url:card_register_user_path(current_user.id),id:'charge-form' do |f|
        .inputs
          .inputs__product
            %h4.inputs__product__label カード番号
            .inputs__product__caution 必須
          = f.number_field :the_card_number, placeholder:'カード番号(16桁)', class: 'form number',autocomplete: "off",maxlength: "16",id:"payment_card_no"
          .inputs__product
            %h4.inputs__product__label CVC
            .inputs__product__caution 必須
          = f.number_field :cvc, placeholder:'CVC(3桁)', class: 'form cvc',autocomplete: "off",id:"cvc_code"
          .inputs__product
            %h4.inputs__product__label 有効期限(月)
            .inputs__product__caution 必須
          = f.number_field :month, placeholder:'02など(2桁)', class: 'form exp_month',autocomplete: "off",id:"card_expire_mm"
          .inputs__product
            %h4.inputs__product__label 有効期限(年)
            .inputs__product__caution 必須
          = f.number_field :year, placeholder:'2020など(4桁)', class: 'form exp_year',autocomplete: "off",id:"card_expire_yy"
          = f.submit id:'submit-button'
