.white-wrap
  .inner-header
    .inner-header__top
      .inner-header__top__wrap
        %h1.inner__header__top__wrap__title
          =link_to root_path do
            =image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?570108281", size: "134x36", alt: "mercari"
        %ul.inner__header__top__minilogo
          -if current_user
            %li.inner-header__bottom__right__left
              =link_to '/products', class:'access-btn' do
                =fa_icon("bell")
            %li.inner-header__bottom__right__center
              =link_to '/products', class:'access-btn' do
                =fa_icon("check")
            %li.inner-header__bottom__right__right
              =link_to '/profiles/1', class:'access-btn' do
                =fa_icon("user-circle")
          -else
            %li.inner-header__bottom__right__right
              =link_to 'ログイン', new_user_session_path,class: 'login-btn'
            %li.inner-header__bottom__right__right
              =link_to '新規会員', new_user_path,class: 'new-user-btn'
              =link_to '新規会員登録', new_user_path,class: 'new-user-btn-long'
      .inner-header__top__form
        = form_with url: 'products/search',method: 'GET',local: true do |f|
          .inner-header__top__form__txt
            = f.text_field :name,placeholder: "何かお探しですか？",class: 'inner-header__top__form__text'
            = f.submit class:'search-btn' 
            .fa.fa-search
    .inner-header__bottom
      %ul.inner-header__bottom__left
        %li.inner-header__bottom__left__left
          %h2.inner-header__botom__left__left__nav
            .access-btn
              =fa_icon("align-justify")
              %span カテゴリーから探す
          .inner-header__bottom__left__left__category-lists
            %ul.inner-header__bottom__left__left__category-lists__list-1
              -ParentCategory.data.drop(1).each do |parent_category|
                %li.category-list-1=link_to "#{parent_category[:name]}","/category_parents/#{parent_category[:id]}",class:"inner-header__bottom__left__left__category-lists__list-1__link",data: { id: parent_category[:id] }
            %ul.inner-header__bottom__left__left__category-lists__list-2
            %ul.inner-header__bottom__left__left__category-lists__list-3
        %li.inner-header__bottom__left__right
          %h2.inner-header__botom__left__right__nav
            =link_to '/products',class:'access-btn' do
              =fa_icon("tag")
              %span ブランドから探す
      %ul.inner-header__bottom__right
        -if current_user
          %li.inner-header__bottom__right__left
            =link_to '/products', class:'access-btn' do
              =fa_icon("bell")
              %span.logo-text お知らせ
          %li.inner-header__bottom__right__center
            =link_to '/products', class:'access-btn' do
              =fa_icon("check")
              %span.logo-text やることリスト
          %li.inner-header__bottom__right__right
            =link_to profile_path(current_user), class:'access-btn' do
              =fa_icon("user-circle")
              %span.logo-text マイページ
        -else
          %li.inner-header__bottom__right__right
            =link_to 'ログイン', new_user_session_path,class: 'login-btn'
          %li.inner-header__bottom__right__right
            =link_to '新規会員', new_user_path,class: 'new-user-btn'
            =link_to '新規会員登録', new_user_path,class: 'new-user-btn-long'
