.mypage__sidebar
  %ul.mypage__sidebar__content
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text マイページ
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text やることリスト
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text 出品する
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to '/products/1/edit_index' do
        %span.mypage__sidebar__user__list__text 出品した商品-出品中
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to '/products/1/edit_index' do
        %span.mypage__sidebar__user__list__text 出品した商品-取引中
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text 出品した商品-売却済み
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text 購入した商品-取引中
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text 購入した商品-過去の取引
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text ニュース一覧
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text 評価一覧
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text ガイド
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text お問い合わせ
        = fa_icon("chevron-right")
  %h3 メルペイ
  %ul.mypage__sidebar__content
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text 売上・振込申請
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text ポイント
        = fa_icon("chevron-right")
  %h3 設定
  %ul.mypage__sidebar__content
    %li.mypage__sidebar__content__list
      = link_to edit_profile_path(1) do
        %span.mypage__sidebar__user__list__text プロフィール
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text 発送元・お届け先住所変更
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to pay_profile_path('1') do
        %span.mypage__sidebar__user__list__text 支払い方法
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text メール/パスワード
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to new_profile_path do
        %span.mypage__sidebar__user__list__text 本人情報
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to root_path do
        %span.mypage__sidebar__user__list__text 電話番号の確認
        = fa_icon("chevron-right")
    %li.mypage__sidebar__content__list
      = link_to log_out_page_profiles_path do
        %span.mypage__sidebar__user__list__text ログアウト
        = fa_icon("chevron-right")
