-# :javascript
-#     window.fbAsyncInit = function() {
-#       FB.init({
-#         appId      : '{your-app-id}',
-#         cookie     : true,
-#         xfbml      : true,
-#         version    : '{api-version}'
-#       });
-#       FB.AppEvents.logPageView();
-#     };
-#     (function(d, s, id){
-#       var js, fjs = d.getElementsByTagName(s)[0];
-#       if (d.getElementById(id)) {return;}
-#       js = d.createElement(s); js.id = id;
-#       js.src = "https://connect.facebook.net/en_US/sdk.js";
-#       fjs.parentNode.insertBefore(js, fjs);
-#     }(document, 'script', 'facebook-jssdk'));
.background
  =render 'shared/products-new-header'
  .inputs
    .new_user_header-signin アカウントをお持ちでない方はこちら
    =link_to '新規会員登録', new_user_path,class: 'register-new-btn'
  .inputs.register-btn
    .register-btn__facebook
      .register-btn__facebook__logo
        =fa_icon("facebook-square")
      .register-btn__facebook__text Facebookでログイン
      .register-btn__empty
    .register-btn__google
      .register-btn__google__logo
        =fa_icon("google")
      .register-btn__google__text Googleでログイン
      .register-btn__empty
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス", class: 'login-mail-adress-form'
      .field
        = f.password_field :password, autocomplete: "current-password",placeholder:'パスワード', class: 'login-password-form'
      .not-robot-confirmation
        %input{type:"checkbox"}
        .text 私はロボットではありません
        .icon
          =fa_icon("undo")
      .actions
        = f.submit "ログイン",class: "login-btn-session"
    = link_to "パスワードをお忘れの方", new_password_path(resource_name), class: 'forget-password'
  =render 'shared/products-new-footer'
