.full-container
  = render partial: "shared/header"
  %main
    .mypage
      = render partial: "shared/sidebar"
      .mypage__container
        .mypage__tabs
          %input#info{type: "radio", name: "tab",checked: true}
          %label.mypage__tabs__tab.info{for:"info"} 出品中
          %input#todo{type: "radio", name: "tab"}
          %label.mypage__tabs__tab.todo{for:"todo"} 売却済み
          %ul.tab-content.mypage__tabs__info
            =render @products
            %li.mypage__tabs__info__index
              = link_to "一覧を見る",class: "mypage__tabs__info__index__button"
          %ul.tab-content.mypage__tabs__todo
            -@soldProducts.each do |soldProduct|
              %li.mypage__tabs__info__list
                = link_to product_path(soldProduct.id),class: "mypage__tabs__info__list__link" do
                  = image_tag "https://static.mercdn.net/images/mercari_profile.png",size: "48x48"
                  .mypage__tabs__info__list__link__message
                    %p.mypage__tabs__info__list__link__message__title= soldProduct.name
                    %p.mypage__tabs__info__list__link__message__when
                      = fa_icon("heart")
                      %span= fa_icon("comment")
                      %span 出品中
                  = fa_icon("chevron-right")
            %li.mypage__tabs__info__index
              = link_to "一覧を見る",class: "mypage__tabs__info__index__button"
