//カード

.top-main
  .top-main__image
    = link_to image_tag "//www-mercari-jp.akamaized.net/assets/img/featured/newlife/keyvisual.png?570108281",size: "700x250",alt: "mercari"
  .top-main__pickup
    ピックアップカテゴリー
  .category
    .items-box
      = link_to root_path do
        レディース新着アイテム
    .items-box-content
      .item
        .item-box-photo
          = link_to image_tag "https://fotopus.com/inu/images/top/inu_subject_03.jpg",size: "213x220"
        .item-box-name
          フェリシモの綿薄手のニット
        .item-price
          ¥1000
        .item-tax
          (税込)

      .item
        .item-box-photo
          = link_to image_tag "https://fotopus.com/inu/images/top/inu_subject_03.jpg",size: "213x220"
        .item-box-name
          フェリシモの綿薄手のニット
        .item-price
          ¥1000
        .item-tax
          (税込)


      .item
        .item-box-photo
          = link_to image_tag "https://fotopus.com/inu/images/top/inu_subject_03.jpg",size: "213x220"
        .item-box-name
          フェリシモの綿薄手のニット
        .item-price
          ¥1000
        .item-tax
          (税込)


      .item
        .item-box-photo
          = link_to image_tag "https://fotopus.com/inu/images/top/inu_subject_03.jpg",size: "213x220"
        .item-box-name
          フェリシモの綿薄手のニット
        .item-price
          ¥1000
        .item-tax
          (税込)
    .all-items
      = link_to root_path do
        すべての商品を見る







