=render './shared/header'
.sample.sample01
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        =link_to image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg",alt: "merucari1",id: "slide-banner"
      .swiper-slide
        =link_to image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg",alt: "merucari2",id: "slide-banner"
      .swiper-slide#banner
        .slide__container
          .slide__container__text
            %h2
              スマホでかんたん
              %br フリマアプリ
            %p
              メルカリはスマホカメラからすぐに出品できる
              %br 購入時も安心な独自システムのアプリです
            .silder__container__text__store
              =link_to image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?376951604", class:"silder__container__text__store__apple"
              =link_to image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?376951604", class:"silder__container__text__store__google"

          .slide__container__image
            =image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?376951604",size: "440x390"
    .swiper-pagination
    .swiper-button-prev
      =fa_icon("chevron-left 3x")
    .swiper-button-next
      =fa_icon("chevron-right 3x")
.top-main
  .top-main__pickup
    ピックアップカテゴリー
  -(1..@parent_category_count).to_a.shuffle.each do |i|
    -if @all_products.select{|product| product.parent_category_id == i}.length >= 4
      .item-box-container
        .items-box
          = link_to "#{ParentCategory.find(i)[:name]}新着アイテム",category_parent_path(i), class: 'items-box__category'
        .items-box-content
          - category_products = @all_products.select{|product| product.parent_category_id == i}.take(4)
          - category_products.each do |product|
            .item-box
              = link_to product_path(product),class: "item-box__link" do
                -if product.purchased
                  .item-box__link__soldout-tag
                    .item-box__link__soldout-tag__text SOLD
                .item-box__link__photo
                  =image_tag product.images[0],size:"230x300"
                .item-box__link__detail
                  .item-box__link__detail__name
                    = product.name
                  .item-box__link__detail__middle
                    %p.item-box__link__detail__middle__price
                      = "¥" + number_with_delimiter(product.price)
                    .item-box__link__detail__middle__heart
                      =fa_icon("heart")
                      %span 5
                  .item-box__link__detail__tax
                    (税込)
                  = link_to product_path(product),method: 'delete',data: {confirm: '本当に削除しますか？'} do
                    .delete-btn 削除

        .all-items
          = link_to "すべての商品を見る",category_parent_path(i)
=render './shared/full_footer'
