=render './shared/header'
.slideshow
  %input{type:"radio",name:"slideshow",id:"switch1", checked: "checked"}
  %input{type:"radio", name:"slideshow", id:"switch2"}
  %input{type:"radio", name:"slideshow", id:"switch3"}
  %input{type:"radio", name:"slideshow", id:"switch4"}
  .slidecontents
    %section#slide1
      =link_to image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg",alt: "merucari1"
    %section#slide2
      =link_to image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/banner-new-life.jpg",alt: "merucari2"
    %section#slide3
      =link_to image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg",alt: "merucari3"
    %section#slide4
      =link_to image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/banner-bokurano-heisei.jpg",alt: "merucari4"
  %p.arrow.prev
    =fa_icon("chevron-left")
    %label{for: "switch1"}
    %label{for: "switch2"}
    %label{for: "switch3"}
    %label{for: "switch4"}
  %p.arrow.next
    =fa_icon("chevron-right")
    %label{for: "switch1"}
    %label{for: "switch2"}
    %label{for: "switch3"}
    %label{for: "switch4"}

.top-main
  .top-main__pickup
    ピックアップカテゴリー
  .item-box-container
    .items-box
      = link_to 'レディース新着アイテム',root_path, class: 'items-box__category'
    .items-box-content
      .item-box
        = link_to 'products/1', class: "item-box__link" do
          .item-box__link__photo
            =image_tag "https://fotopus.com/inu/images/top/inu_subject_03.jpg"
          .item-box__link__detail
            .item-box__link__detail__name
              フェリシモの綿薄手のニット
            .item-box__link__detail__middle
              %p.item-box__link__detail__middle__price ¥1000
              .item-box__link__detail__middle__heart
                =fa_icon("heart")
                %span 5
            .item-box__link__detail__tax
              (税込)
      .item-box
        = link_to '/products/1/confirm_buy', class: "item-box__link" do
          .item-box__link__photo
            =image_tag "https://fotopus.com/inu/images/top/inu_subject_03.jpg"
          .item-box__link__detail
            .item-box__link__detail__name
              フェリシモの綿薄手のニット
            .item-box__link__detail__middle
              %p.item-box__link__detail__middle__price ¥1000
              .item-box__link__detail__middle__heart
                =fa_icon("heart")
                %span 4
            .item-box__link__detail__tax
              (税込)
      .item-box
        = link_to root_path, class: "item-box__link" do
          .item-box__link__photo
            =image_tag "https://fotopus.com/inu/images/top/inu_subject_03.jpg"
          .item-box__link__detail
            .item-box__link__detail__name
              フェリシモの綿薄手のニット
            .item-box__link__detail__middle
              %p.item-box__link__detail__middle__price ¥1000
              .item-box__link__detail__middle__heart
                =fa_icon("heart")
                %span 10
            .item-box__link__detail__tax
              (税込)
      .item-box
        = link_to root_path, class: "item-box__link" do
          .item-box__link__photo
            =image_tag "https://fotopus.com/inu/images/top/inu_subject_03.jpg"
          .item-box__link__detail
            .item-box__link__detail__name
              フェリシモの綿薄手のニット
            .item-box__link__detail__middle
              %p.item-box__link__detail__middle__price ¥1000
              .item-box__link__detail__middle__heart
                =fa_icon("heart")
                %span 4
            .item-box__link__detail__tax
              (税込)
    .all-items
      = link_to root_path do
        すべての商品を見る
=render './shared/full_footer'
